  
:root {
    --bg-color: rgba(40,40,40,0.8); 
    --text-color: #fff; 
    --background-image: url("backgrounds/background-distorted.png");
    --bar-color: rgb(0, 0, 0)
}
.light {
    --bg-color: rgba(255,182,193,0.6); 
    --text-color: #000; 
    --background-image: url("backgrounds/background.jpg");
    --bar-color: rgb(255, 105, 180)
}

.center-div h5,
.center-div p,
.center-div h3 {
    margin: 5px 0;
}
html {
    box-sizing: border-box;
    padding: 0;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}
.main_grid {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(auto, 800px) minmax(200px, 1fr);
    gap: 0px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    height: calc(100vh - 40px);
}
.middle_container {
    position: relative;
    max-width: 800px;
    flex: 3;
    display: grid;
    grid-template-columns: 1fr;
}
.left_sidebar{
    flex: 1;
    width: 300px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border-bottom: 10px solid var(--bar-color);
    margin: 20px auto 0 20px;
    height: calc(100vh - 60px);
    
}
.right_sidebar{
    flex: 1;
    width: 300px;
    padding: 0px;
    box-sizing: border-box;
    margin: 20px 20px 0 auto;
    height: calc(100vh - 60px);
}
.header {
    height: 120px;
    width: 800px;
    margin: 20px auto 0;
    background-color: var(--bg-color);
    padding: 0;
    box-sizing: border-box;
    border-bottom: 10px solid var(--bar-color);
}
.body {
    flex-grow: 1;
    width: 800px;
    margin: 20px auto 20px;
    background-color: var(--bg-color);
    box-sizing: border-box;
    border-bottom: 10px solid var(--bar-color);
}
.footer {
    height: 140px;
    width: 800px;
    margin: 0 auto 0px;
    background-color: var(--bg-color);
    box-sizing: border-box;
    border-bottom: 10px solid var(--bar-color);
    text-align: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    padding: 0;
}
.rss_reader{
    width: "250px";
    overflow: auto;
}
.left-div, .right-div {
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    /*background-color: rgba(120,120,120,0.5)*/
}
.scrolling_div{
    width: calc(100% + 20px);
    height: calc(100% - 180px);
    overflow: auto;
}
h1 {
    margin-top: 0;
}
p {
    line-height: 1.2;
}
iframe {
    border: 1px #fff;
    width: 800px;
    height: calc(100vh - 370px);
}
.colored-box {
    display: inline-block;
    background-color: rgba(255,255,255,0.5); 
    padding: 5px 10px; 
}  
.entry {
    max-height: 150px;
    width: 275px;
    overflow: hidden;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 10px;
}

.entry-link {
    color: inherit; 
    text-decoration: none; 
}
.entry-link:visited {
    color: inherit;
}
.entry-link:hover {
    text-decoration: underline; 
}
.entry-link:active {
    color: inherit; 
}
.navigation_button {
    border: 1px solid #ffffff;
    margin: 0 10px 10px 0;
    color: var(--text-color);
    transition: margin 0.3s; /* Add a transition effect */
}
.navigation_button:hover {
    margin: 0 0 0 0;

}
.right_container{
    background-color: var(--bg-color);
    border-bottom: 10px solid var(--bar-color);
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow: hidden;
}
.right_container_border::before {
    position: absolute;
    bottom: 0; /* Align the border at the bottom of the parent container */
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--bar-color);
    z-index: -1;
}
.mode_changer{
    transition: transform 0.3s ease-in-out;
}
.mode_changer:hover{
    transform: translateY(-10px);
}
.mobile_navigation{
    display: none;
}
.quote{
    padding-left: 10px;
    padding-right: 10px;
}
.quote-text {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-left: 10px;
    margin: 0; /* Remove margin around the quote text */
    padding-bottom: 10px; /* Add some padding below the quote */
}
  .quote-text a {
    color: lightblue; /* Set the color for links within the quote text */
    text-decoration: none; /* Add an underline to links */
}
.quote-text a:visited {
    color: lightblue; /* Set the color for visited links */
  }
  .author-date {
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 0px; /* Add a bit of space above the author/date */
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
    max-width: 250px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
}

.form-field {
    display: flex;
    align-items: center; /* Vertically align label and input */
    margin-bottom: 10px; /* Add spacing between form fields */
}

.form-field label {
    flex: 0 0 50px; /* Set a fixed width of 50px for the labels */
    margin-right: 10px; /* Add spacing between label and input */
}

.form-field input,
.form-field textarea {
    flex: 1; /* Expand the input to fill the remaining space */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Adjust the height and width of the textarea */
    width: 100%;
    background-color: var(--bar-color);
    color: var(--text-color); /* Set the text color */
}
.submit-button {
    flex: 1; /* Expand the input to fill the remaining space */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Set the background color to the --bar-color variable */
    background-color: var(--bar-color);
    color: var(--text-color); /* Set the text color */
    cursor: pointer;
}
@media (pointer:none), (pointer:coarse) {
    iframe {
        height: 1200px;
    }
    .body{
        height: 1180px;
    }

}
@media (max-width: 1140px) {
    .right_sidebar, .left_sidebar {
        display: none;
    }
    .main_grid {
        grid-template-columns: 1fr; /* Change the grid layout to one column */
        justify-items: center; /* Center the items horizontally within the column */
    }
    .header{
        height: 200px;
    }
    .mobile_navigation{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Create 3 equal columns */
        grid-gap: 10px; /* Gap between grid items */
    }
    .navigation_button{
        height: 70px;
        text-align: center;
        margin-top: 10px;
        transition: none;

    }
    .navigation_button_p{
        height: 50px;
        font-size: 30px;
        margin: 0;
        line-height: 50px;
    }
}
@media (min-width: 1140px) and (max-width: 1480px) {
    .main_grid {
        display: flex;
        justify-content: center; /* Center the content horizontally */
    }

    .right_sidebar {
        display: block;
        width: 300px; /* Set a constant width */
        margin: 20px 20px 0 calc((100% - 1140px)/2);
    }

    .middle_container {
        width: calc(100% - 640px); /* Adjust the width of the middle container */
        margin: 0 calc((100% - 1140px)/2) 0 20px;
    }

    .left_sidebar {
        display: none;
    }
}

a.secret {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

a.secret:hover,
a.secret:hover {
    text-decoration: none;
}

a:hover,
a:hover {
    text-decoration: underline;
}
